<a href="https://colab.research.google.com/github/Anuj57/Week2/blob/main/Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SECTION A

In [1]:
#1 Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.

def num(x,y,z,) :
  if x == y and x == z:
    return 3
  elif x==y or x==z:
    return 2
  else:
    return 0
print(num(2,1,3))

0

In [2]:
#2 Write a function that converts a dictionary into a list of keys-values tuples.
dict = { 'Anuj': 24, 'Vineet': 23, 'Kalpesh': 14 }
list = [(a, b) for a, b in dict.items()]
print(sorted(list))

[('Anuj', 24), ('Kalpesh', 14), ('Vineet', 23)]

In [4]:
#3 Write a function that creates a dictionary with each (key, value) pair being the (lower case, upper case) versions of a letter, respectively.
list = ['a','n','u','j']
a = {}

for letters in list:
  b = letters.upper()
  a.update({letters:b})
print(a)

{'a': 'A', 'n': 'N', 'u': 'U', 'j': 'J'}

In [5]:
#4 Write a function, that replaces all vowels in a string with a specified vowel.
print("Enter the String: ")
str = input()

print("Enter a character: ")
char = input()

newstr = ""
for i in range(len(str)):
    if str[i]=='a' or str[i]=='e' or str[i]=='i' or str[i]=='o' or str[i]=='u':
        newstr = newstr + char
    else:
        newstr = newstr + str[i]

print("\nOriginal String:", str)
print("New String:", newstr)

Enter the String:
anuj
Enter a character:
@

Original String: anuj
New String: @n@j

In [6]:
#5 Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII code is odd.
def ascii(st):
  res=[]
  for index, c in enumerate(st):
    if index%2==0:
      res.append(c.upper())
    else:
      res.append(c.lower())
  return''.join(res)
print(ascii("Anuj"))

AnUj

#SECTION B

In [8]:
def my_function():
  print("Hello World")

my_function()

Hello World

In [9]:
def my_function(car = "BMW"):
  print("I like " + car)

my_function("Audi")
my_function("Ferrari")
my_function()
my_function("Mustang")

I like Audi
I like Ferrari
I like BMW
I like Mustang

In [10]:
def my_function(Bikes):
  for x in Bikes:
    print(x)

Bikes = ["Ninja", "Pulsar", "Ktm"]

my_function(Bikes)

Ninja
Pulsar
Ktm

In [13]:
# Python program to convert Celsius to Fahrenheit using function

def convertTemp(c):
   f = (c * 1.8) + 32
   return f
    

celsius = float(input('Enter temperature in Celsius: '))


fahrenheit = convertTemp(celsius)
print('%0.1f degrees Celsius is equal to %0.1f degrees Fahrenheit' %(celsius, fahrenheit))

Enter temperature in Celsius: 20
20.0 degrees Celsius is equal to 68.0 degrees Fahrenheit

In [14]:
def kilometre_1(km):  
    conversion_ratio_1= 0.621371  
    miles_1 = km * conversion_ratio_1  
    print ("The speed value of car in Miles: ", miles_1)  
km = float (input ("Please enter the speed of car in Kilometres as a unit: "))  
kilometre_1(km)

Please enter the speed of car in Kilometres as a unit: 20
The speed value of car in Miles:  12.42742